USE [master]
GO
/****** Object:  Database [ProizdPrILMIR]    Script Date: 04.04.2026 2:03:16 ******/
CREATE DATABASE [ProizdPrILMIR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROIZVPR', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PROIZVPR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROIZVPR_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PROIZVPR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProizdPrILMIR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProizdPrILMIR]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 04.04.2026 2:03:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[id_client] [int] IDENTITY(1,1) NOT NULL,
	[client_name] [nvarchar](150) NOT NULL,
	[contact_person] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_client] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 04.04.2026 2:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[id_comment] [int] IDENTITY(1,1) NOT NULL,
	[id_request] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[comment_text] [nvarchar](max) NOT NULL,
	[comment_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_comment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 04.04.2026 2:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[id_equipment] [int] IDENTITY(1,1) NOT NULL,
	[equipment_name] [nvarchar](150) NOT NULL,
	[model] [nvarchar](100) NULL,
	[serial_number] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_equipment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Failure_types]    Script Date: 04.04.2026 2:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Failure_types](
	[id_failure_type] [int] IDENTITY(1,1) NOT NULL,
	[type_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_failure_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 04.04.2026 2:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[id_login] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Repair_actions]    Script Date: 04.04.2026 2:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Repair_actions](
	[id_action] [int] IDENTITY(1,1) NOT NULL,
	[id_request] [int] NOT NULL,
	[id_manager] [int] NOT NULL,
	[additional_specialist_id] [int] NOT NULL,
	[action_reason] [nvarchar](max) NULL,
	[action_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_action] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 04.04.2026 2:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[id_request] [int] NOT NULL,
	[request_number] [nvarchar](50) NOT NULL,
	[creation_date] [date] NOT NULL,
	[description] [nvarchar](max) NULL,
	[id_equipment] [int] NOT NULL,
	[id_failure_type] [int] NOT NULL,
	[id_client] [int] NOT NULL,
	[id_status] [int] NOT NULL,
	[assigned_to] [int] NULL,
	[deadline_date] [date] NULL,
	[extension_reason] [nvarchar](max) NULL,
	[client_agreement] [bit] NULL,
	[qr_code_generated] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_request] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 04.04.2026 2:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id_role] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 04.04.2026 2:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[id_status] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04.04.2026 2:03:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[id_role] [int] NOT NULL,
	[id_login] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([id_client], [client_name], [contact_person], [phone], [email]) VALUES (1, N'ООО "Ромашка"', N'Иван Петров', N'+74951234567', N'romashka@mail.ru')
INSERT [dbo].[Clients] ([id_client], [client_name], [contact_person], [phone], [email]) VALUES (2, N'ЗАО "Луч"', N'Ольга Сидорова', N'+74957654321', N'luch@mail.ru')
INSERT [dbo].[Clients] ([id_client], [client_name], [contact_person], [phone], [email]) VALUES (3, N'ИП Смирнов', N'Антон Смирнов', N'+79031234567', N'smirnov@mail.ru')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([id_comment], [id_request], [id_user], [comment_text], [comment_date]) VALUES (1, 1, 3, N'Проверил питание, нужна замена материнской платы', CAST(N'2026-03-30T13:42:46.660' AS DateTime))
INSERT [dbo].[Comments] ([id_comment], [id_request], [id_user], [comment_text], [comment_date]) VALUES (2, 1, 4, N'Заказал материнскую плату, придет через 3 дня', CAST(N'2026-03-30T13:42:46.660' AS DateTime))
INSERT [dbo].[Comments] ([id_comment], [id_request], [id_user], [comment_text], [comment_date]) VALUES (3, 2, 3, N'Почистил от пыли, шум пропал', CAST(N'2026-03-30T13:42:46.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([id_equipment], [equipment_name], [model], [serial_number]) VALUES (1, N'Ноутбук Lenovo', N'ThinkPad T14', N'SN123456789')
INSERT [dbo].[Equipment] ([id_equipment], [equipment_name], [model], [serial_number]) VALUES (2, N'Системный блок HP', N'ProDesk 400', N'SN987654321')
INSERT [dbo].[Equipment] ([id_equipment], [equipment_name], [model], [serial_number]) VALUES (3, N'МФУ Canon', N'MF445dw', N'SN555666777')
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[Failure_types] ON 

INSERT [dbo].[Failure_types] ([id_failure_type], [type_name]) VALUES (2, N'Зависает система')
INSERT [dbo].[Failure_types] ([id_failure_type], [type_name]) VALUES (5, N'Замена компонента')
INSERT [dbo].[Failure_types] ([id_failure_type], [type_name]) VALUES (1, N'Не включается')
SET IDENTITY_INSERT [dbo].[Failure_types] OFF
GO
SET IDENTITY_INSERT [dbo].[Logins] ON 

INSERT [dbo].[Logins] ([id_login], [login], [password]) VALUES (1, N'ivanov_a', N'pass123')
INSERT [dbo].[Logins] ([id_login], [login], [password]) VALUES (2, N'petrov_s', N'pass456')
INSERT [dbo].[Logins] ([id_login], [login], [password]) VALUES (3, N'sidorov_k', N'pass789')
SET IDENTITY_INSERT [dbo].[Logins] OFF
GO
SET IDENTITY_INSERT [dbo].[Repair_actions] ON 

INSERT [dbo].[Repair_actions] ([id_action], [id_request], [id_manager], [additional_specialist_id], [action_reason], [action_date]) VALUES (1, 1, 2, 4, N'Исполнитель Сидоров не справляется по срокам, подключен Смирнов', CAST(N'2026-03-30T13:42:46.670' AS DateTime))
INSERT [dbo].[Repair_actions] ([id_action], [id_request], [id_manager], [additional_specialist_id], [action_reason], [action_date]) VALUES (2, 2, 2, 3, N'Требуется дополнительная диагностика', CAST(N'2026-03-30T13:42:46.670' AS DateTime))
INSERT [dbo].[Repair_actions] ([id_action], [id_request], [id_manager], [additional_specialist_id], [action_reason], [action_date]) VALUES (3, 5, 7, 6, N'Сложный случай перегрева, нужен опытный специалист', CAST(N'2026-03-30T13:42:46.670' AS DateTime))
SET IDENTITY_INSERT [dbo].[Repair_actions] OFF
GO
INSERT [dbo].[Requests] ([id_request], [request_number], [creation_date], [description], [id_equipment], [id_failure_type], [id_client], [id_status], [assigned_to], [deadline_date], [extension_reason], [client_agreement], [qr_code_generated]) VALUES (1, N'REQ-001', CAST(N'2026-03-20' AS Date), N'Ноутбук не включается после падения', 1, 1, 1, 2, 3, CAST(N'2026-03-28' AS Date), NULL, 0, 1)
INSERT [dbo].[Requests] ([id_request], [request_number], [creation_date], [description], [id_equipment], [id_failure_type], [id_client], [id_status], [assigned_to], [deadline_date], [extension_reason], [client_agreement], [qr_code_generated]) VALUES (2, N'REQ-002', CAST(N'2026-03-22' AS Date), N'Системный блок сильно шумит', 2, 3, 2, 1, NULL, CAST(N'2026-03-30' AS Date), NULL, 0, 0)
INSERT [dbo].[Requests] ([id_request], [request_number], [creation_date], [description], [id_equipment], [id_failure_type], [id_client], [id_status], [assigned_to], [deadline_date], [extension_reason], [client_agreement], [qr_code_generated]) VALUES (3, N'REQ-003', CAST(N'2026-03-25' AS Date), N'МФУ не ловит сеть', 3, 4, 3, 2, 4, CAST(N'2026-04-01' AS Date), NULL, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([id_role], [role_name]) VALUES (1, N'Администратор')
INSERT [dbo].[Roles] ([id_role], [role_name]) VALUES (3, N'Исполнитель')
INSERT [dbo].[Roles] ([id_role], [role_name]) VALUES (2, N'Менеджер')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([id_status], [status_name]) VALUES (1, N'В ожидании')
INSERT [dbo].[Statuses] ([id_status], [status_name]) VALUES (2, N'В работе')
INSERT [dbo].[Statuses] ([id_status], [status_name]) VALUES (3, N'Выполнено')
SET IDENTITY_INSERT [dbo].[Statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([id_user], [full_name], [email], [phone], [id_role], [id_login]) VALUES (1, N'Алексей Иванов', N'ivanov@mail.ru', N'+79161234567', 1, 1)
INSERT [dbo].[Users] ([id_user], [full_name], [email], [phone], [id_role], [id_login]) VALUES (2, N'Сергей Петров', N'petrov@mail.ru', N'+79162345678', 2, 2)
INSERT [dbo].[Users] ([id_user], [full_name], [email], [phone], [id_role], [id_login]) VALUES (3, N'Константин Сидоров', N'sidorov@mail.ru', N'+79163456789', 3, 3)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Failure___543C4FD95F54C445]    Script Date: 04.04.2026 2:03:17 ******/
ALTER TABLE [dbo].[Failure_types] ADD UNIQUE NONCLUSTERED 
(
	[type_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Logins__7838F272DCA7A3C4]    Script Date: 04.04.2026 2:03:17 ******/
ALTER TABLE [dbo].[Logins] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Requests__8EF03D9CA9931D33]    Script Date: 04.04.2026 2:03:17 ******/
ALTER TABLE [dbo].[Requests] ADD UNIQUE NONCLUSTERED 
(
	[request_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B1BD9F96D0]    Script Date: 04.04.2026 2:03:17 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Statuses__501B37534307546C]    Script Date: 04.04.2026 2:03:17 ******/
ALTER TABLE [dbo].[Statuses] ADD UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Users__1DEA7BAC259F1901]    Script Date: 04.04.2026 2:03:17 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[id_login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments] ADD  DEFAULT (getdate()) FOR [comment_date]
GO
ALTER TABLE [dbo].[Repair_actions] ADD  DEFAULT (getdate()) FOR [action_date]
GO
ALTER TABLE [dbo].[Requests] ADD  DEFAULT ((0)) FOR [client_agreement]
GO
ALTER TABLE [dbo].[Requests] ADD  DEFAULT ((0)) FOR [qr_code_generated]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([id_request])
REFERENCES [dbo].[Requests] ([id_request])
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[Users] ([id_user])
GO
ALTER TABLE [dbo].[Repair_actions]  WITH CHECK ADD FOREIGN KEY([additional_specialist_id])
REFERENCES [dbo].[Users] ([id_user])
GO
ALTER TABLE [dbo].[Repair_actions]  WITH CHECK ADD FOREIGN KEY([id_manager])
REFERENCES [dbo].[Users] ([id_user])
GO
ALTER TABLE [dbo].[Repair_actions]  WITH CHECK ADD FOREIGN KEY([id_request])
REFERENCES [dbo].[Requests] ([id_request])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([assigned_to])
REFERENCES [dbo].[Users] ([id_user])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([id_client])
REFERENCES [dbo].[Clients] ([id_client])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([id_equipment])
REFERENCES [dbo].[Equipment] ([id_equipment])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([id_failure_type])
REFERENCES [dbo].[Failure_types] ([id_failure_type])
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([id_status])
REFERENCES [dbo].[Statuses] ([id_status])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([id_login])
REFERENCES [dbo].[Logins] ([id_login])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([id_role])
REFERENCES [dbo].[Roles] ([id_role])
GO
USE [master]
GO
